.landing-top {
	padding-top: 15rem;
	display: grid;
	place-items: center;

	@media screen and (max-height: 600px) {
		padding-top: 10rem;
	}
}

.landing-center {
	min-height: 50vh;
}

.landing-title {
	font-size: 4rem;
	font-weight: 400;
	filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.5));
	line-height: 75px;
	text-align: center;
}

.landing-text {
	font-size: 2rem;
	font-weight: 200;
	filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.5));
	line-height: 30px;
	max-width: 850px;
	text-align: center;
}

.landing-blue,
.landing-black {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	min-height: 200px;
}

.landing-blue {
	background-color: $main;
	position: relative;
	z-index: 1;
}

.landing-black.last {
	display: grid;
	place-items: center;
	padding-bottom: 10rem;

	.strong {
		font-size: 2.5rem;
		line-height: 2.5rem;
		margin-bottom: 0px;
	}

	p {
		margin-bottom: 2rem;
	}

	.invite-button {
		margin-top: 2rem;
		background-color: $main;
		color: $white;
		padding: 10px;
		border-radius: 5px;

		i {
			margin-right: 5px;
		}

		&:hover {
			color: $white !important;
			filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.5));
		}
	}
}

.section-text {
	font-size: 1.5rem;
	text-align: center;
	max-width: 500px;
	filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
}

.wave {
	fill: $main;
	filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.6));
}

.landing-more-button {
	display: flex;
	font-size: 1.5rem;
	cursor: pointer;

	i {
		margin-left: 5px;
	}
}

@media screen and (max-width: 960px) {
	.landing-blue,
	.landing-black {
		flex-direction: column !important;

		img {
			width: 15rem;
		}

		.section-text {
			font-size: 1.2rem;
		}
	}
}
