.playlists-top {
	padding-top: 10rem;
	display: grid;
	place-items: center;
}

.playlists-title {
	font-size: 4rem;
	font-weight: 400;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 80vw;
	text-align: center;
}

.playlist__selection-create {
	background-color: $main;
	margin-bottom: 1rem;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.5s ease;

	&:hover {
		filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
	}
}

.playlists-selection {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;

	background-color: $bg2;
	margin-left: 15vw;
	margin-right: 15vw;
	margin-top: 1rem;
	border-radius: 10px;
	padding: 2rem;

	filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
}

.playlist-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	transition: all 0.5s;
	padding: 1rem;
	border-radius: 10px;
	cursor: pointer;

	&:hover {
		background: $bg1;
	}
}

.playlist__item-breakline {
	margin-left: 10px;
	margin-right: 10px;
	height: 2px;
	width: 100%;
	background-color: rgba($white, 0.1);
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.playlist__item-number {
	font-size: 2rem;
	border-radius: 50%;
	background-color: $main;
	padding: 10px;
	min-width: 3rem;
	max-width: 3rem;
	margin-right: 1rem;
	font-weight: 600;
	text-align: center;
}

.playlist__item-title {
	font-size: 2rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

@media screen and (max-width: 960px) {
	.playlists-title {
		font-size: 2.5rem;
	}

	.playlist__item-number {
		display: none;
	}

	.playlist-item {
		justify-content: center;
	}
}

@import "./[id].scss";
