@import "./filterbar.scss";
@import "./musicbar.scss";
@import "./playerbar.scss";

.webplayer {
	max-width: 100vw;
	max-height: 100vh;
}

.webplayer-bar {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $black;

	width: 200px;
	min-width: 200px;
	max-width: 400px;

	height: calc(100vh - 100px);
	max-height: calc(100vh - 100px);
	overflow: hidden;
}
