.musicbar {
	background-color: #181818;
	border-top: 1px solid #282828;

	width: 100vw;
	max-width: 100vw;

	height: 100px;

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px;
}

.musicbar-song-info {
	display: flex;
	align-items: center;
	justify-content: space-between;

	img {
		border-radius: 5px;
	}
}

.musicbar-song-text {
	margin-left: 10px;
	max-width: 350px;

	> h3 {
		font-weight: 500;
	}

	> p {
		font-weight: 300;
		margin-top: -5px;
	}

	> p,
	> h3 {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
}

.musicbar-track-options {
	width: 500px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	div {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.musicbar-track-volume-slider {
	width: 80%;
	box-shadow: none !important;

	.rangeslider__handle::after {
		display: none;
	}

	.rangeslider__fill {
		background-color: $main !important;
		box-shadow: none !important;
	}

	@media screen and (max-width: 800px) {
		width: 100%;
	}
}

.musicbar-volume {
	width: 250px;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.musicbar__track-shuffle,
.musicbar__track-repeat {
	cursor: pointer;

	path {
		fill: #fff;
		transition: fill 0.5s ease;
	}

	&:hover path {
		fill: $main;
	}

	&:active path {
		fill: $main;
	}
}

.musicbar__track-previous,
.musicbar__track-next {
	cursor: pointer;

	path {
		fill: #fff;
		transition: fill 0.5s ease;
	}

	&:hover path {
		fill: #b3b3b3;
	}
}

.musicbar__track-play {
	height: 35px;
	width: 35px;
	border-radius: 50%;
	cursor: pointer;

	background-color: $white;
	transition: background-color 0.5s ease;

	&:hover {
		background-color: $main;
	}
}

.musicbar__play-slider {
	.musicbar-track-volume-slider {
		margin-left: 10px;
		margin-right: 10px;
	}

	p {
		font-weight: 300;
	}
}
