.playerbar {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $black;

	width: 200px;
	min-width: 200px;
	max-width: 400px;

	height: calc(100vh - 100px);
	max-height: calc(100vh - 100px);
	overflow: hidden;

	resize: horizontal;

	position: absolute;
	float: left;
	right: 0;
	top: 0;
}
